
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');

:root{
--red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}


main{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
}
