
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&display=swap');

:root{
--red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}

*{
box-sizing: border-box;
margin: 0;
}

body{
    background-color:var(--Cream) ;
}

main{
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--Cream);

    width: 40vw;
    height: 80vh;

    position: absolute;
    top: 10%;
    left: 30%;

    border: 1px solid black;
}

.upper{
    background-color: var(--red);
    border: 1px solid black;

    display: flex;
    justify-content: space-between;

    padding: 1em 2em;
    border-radius: 1em;
    color: white;
}

/* .upper>img{
    float: right;
} */

.lower{
    background-color: var(--Very-pale-orange);
    border: 1px solid black;
}


.chartContainer{
    width: 40vw;
    height: 40vh;
}
